<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Dreamchat - Dashboard</title>

  <link rel="shortcut icon" type="image/x-icon" href="/assetsAdmin/img/favicon.png">

  <link rel="stylesheet" href="/assetsAdmin/css/bootstrap.min.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/assetsAdmin/css/font-awesome.min.css">

  <link rel="stylesheet" href="/assetsAdmin/css/feathericon.min.css">

  <link rel="stylesheet" href="/assetsAdmin/plugins/morris/morris.css">

  <link rel="stylesheet" href="/assetsAdmin/css/style.css">
</head>
<body>
<div th:fragment="header" class="header">

  <div class="header-left">
    <a href="index.html" class="logo">
      <img src="/assetsAdmin/img/logo.png" alt="Logo">
    </a>
    <a href="index.html" class="logo logo-small">
      <img src="/assetsAdmin/img/logo-small.png" alt="Logo" width="30" height="30">
    </a>
  </div>

  <a href="javascript:void(0);" id="toggle_btn">
    <i class="fe fe-text-align-left"></i>
  </a>
  <div class="top-nav-search">
    <!--<form>
      <input type="text" class="form-control" placeholder="Search here">
      <button class="btn" type="submit"><i class="fa fa-search"></i></button>
    </form>-->
  </div>

  <a class="mobile_btn" id="mobile_btn">
    <i class="fa fa-bars"></i>
  </a>


  <ul class="nav user-menu">

    <li class="nav-item dropdown noti-dropdown">
      <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
        <i class="fa fa-bell"></i> <span class="badge badge-pill">3</span>
      </a>
      <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
          <span class="notification-title">Notifications</span>
          <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
        </div>
        <div class="noti-content">
          <ul class="notification-list">
            <li class="notification-message">
              <a href="#">
                <div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="/assetsAdmin/img/profiles/avatar-02.jpg">
</span>
                  <div class="media-body flex-grow-1">
                    <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                    <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="#">
                <div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="/assetsAdmin/img/profiles/avatar-11.jpg">
</span>
                  <div class="media-body flex-grow-1">
                    <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="#">
                <div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="/assetsAdmin/img/profiles/avatar-17.jpg">
</span>
                  <div class="media-body flex-grow-1">
                    <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="#">
                <div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="/assetsAdmin/img/profiles/avatar-13.jpg">
</span>
                  <div class="media-body flex-grow-1">
                    <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="topnav-dropdown-footer">
          <a href="#">View all Notifications</a>
        </div>
      </div>
    </li>


    <li class="nav-item dropdown has-arrow">
      <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
        <span class="user-img"><img class="rounded-circle" src="/assetsAdmin/img/profiles/avatar-01.jpg" width="31" alt="Seema Sisty"></span>
      </a>
      <div class="dropdown-menu">
        <div class="user-header">
          <div class="avatar avatar-sm">
            <img src="/assetsAdmin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
          </div>
          <div class="user-text">
            <h6>Seema Sisty</h6>
            <p class="text-muted mb-0">Administrator</p>
          </div>
        </div>
        <a class="dropdown-item" href="general.html">My Profile</a>
        <a class="dropdown-item" href="general.html">Account Settings</a>
        <a class="dropdown-item" href="login.html">Logout</a>
      </div>
    </li>

  </ul>

</div>
<div th:fragment="sidebars" class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
        </li>
        <li class="">
          <a href="/admin"><i class="fe fe-home"></i> <span>Trang chủ</span></a>
        </li>
        <li>
          <a href="/admin/product-manager"><i class="fa-solid fa-pizza-slice"></i> <span>Sản phẩm</span></a>
        </li>
        <li>
          <a href="/admin/order-manager"><i class="fe fe-users"></i> <span>Đơn hàng</span></a>
        </li>

        <li>
          <a href="/logout"><i class="fa-solid fa-right-to-bracket"></i> <span>Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all <a> tags inside <li> elements
        var links = document.querySelectorAll('ul li a');

        // Add click event listener to each <a> tag
        links.forEach(function (link) {
            link.addEventListener('click', function () {
                console.log(179)
                // Remove the 'active' class from all <li> elements
                document.querySelectorAll('ul li').forEach(function (li) {
                    li.classList.remove('active');
                });

                // Add the 'active' class to the parent <li> of the clicked <a> tag
                this.closest('li').classList.add('active');
            });
        });
    });
</script>

</html>