<!DOCTYPE html>
<html>
<head th:replace="fragment:: head">

</head>
<body>

<header th:replace="fragment:: header"></header>
<!-- end header-->

<div class="clearix"></div>

<article id="body_home">

    <section class="sc_page_header clearfix">
        <div class="container">
            <div class="row_pc">

                <div class="clearfix clearfix-100"></div>
                <div class="icon_page fadeInDown wow"><img src="/assets/img/icon_page.png" alt=""/></div>
                <div class="clearfix clearfix-10"></div>
                <h2 class="name_page fadeInRightBig wow"><span>Liên hệ</span></h2>
                <div class="clearfix clearfix-15"></div>
                <ul class="back_link fadeInUp wow">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
                <div class="clearfix clearfix-70"></div>

            </div>
        </div>
    </section>

    <div class="clearfix clearfix-70"></div>

    <section class="sc_contact_page clearfix">
        <div class="container">
            <div class="row_pc">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="content_contact_page">
                            <div class="name_contacnt_page">Liên Hệ</div>
                            <div class="clearfix clearfix-20"></div>
                            <div class="info_contact_page">
                                <span class="cl_111">Địa chỉ:</span> 1886 Huỳnh Tấn Phát - Hồ Chí Minh
                                <div class="clearfix"></div>
                                <span class="cl_111">Email:</span> <a href="">adela@gmail.com</a>
                                <div class="clearfix clearfix-25"></div>
                                <span class="cl_111">Đường dây nóng:</span>
                                <div class="clearfix clearfix-15"></div>
                                <span class="txt_nb_contact">(+84) 965865133</span>
                            </div>
                            <div class="clearfix clearfix-35"></div>
                            <div class="list_link_contact">
                                Liên kết
                                <div class="clearfix clearfix-20"></div>
                                <ul>
                                    <li><a href="" class="fa fa-facebook"></a></li>
                                    <li><a href="" class="fa fa-twitter"></a></li>
                                    <li><a href="" class="fa fa-instagram"></a></li>
                                    <li><a href="" class="fa fa-pinterest"></a></li>
                                    <li><a href="" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box_map_contact_page">
                            <img style="max-width: 100%" src="/assets/img/map_contact.png" alt=""/>
                        </div>
                    </div>
                </div>


                <div class="clearfix clearfix-60"></div>

                <form class="form_contact_page">
                    <div class="tit_fomr_contact_page">Ý Kiến Khách Hàng</div>
                    <div class="clearfix clearfix-40"></div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 col-480-12">
                            <input type="text" class="form-control input_contact_page" placeholder="Tên">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-480-12">
                            <input type="text" class="form-control input_contact_page" placeholder="Địa chỉ">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-480-12">
                            <input type="text" class="form-control input_contact_page" placeholder="Số điện thoại">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-480-12">
                            <textarea rows="4" class="input_textarea_contact_page" cols="50" placeholder="Lời Nhắn"></textarea>
                        </div>
                    </div>
                    <div class="clearfix clearfix-30"></div>
                    <div class="text-center"><a href="" class="send_contact_about">Send messages</a></div>
                </form>


                <div class="clearfix clearfix-70"></div>

            </div>
        </div>
    </section>

</article>

<div class="clearfix"></div>

<footer th:replace="fragment :: footer"></footer>

</body>
</html>


