<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment:: head">
</head>
<body>

<header th:replace="fragment:: header"></header>
<!-- end header-->

<div class="clearix"></div>

<article id="body_home">

  <section class="sc_page_header clearfix">
    <div class="container">
      <div class="row_pc">

        <div class="clearfix clearfix-100"></div>
        <div class="icon_page fadeInDown wow"><img src="/assets/img/icon_page.png" alt=""/></div>
        <div class="clearfix clearfix-10"></div>
        <h2 class="name_page fadeInRightBig wow"><span>Thông tin</span></h2>
        <div class="clearfix clearfix-15"></div>
        <ul class="back_link fadeInUp wow">
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/info">Thông tin</a></li>
        </ul>
        <div class="clearfix clearfix-70"></div>

      </div>
    </div>
  </section>

  <div class="clearfix clearfix-70"></div>

  <div class="container">
    <div class="row_pc">

      <section class="main_about_page clearfix">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="/assets/img_about_page fadeInDown wow"><img src="/assets/img/img_about_page.png" alt=""/></div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="sub_about_page">
            <div class="name_about_page fadeInDown wow">Mục Tiêu</div>
            <div class="clearfix clearfix-15"></div>
            <div class="txt_content_about fadeInDown wow">
              Adela đồng hành cùng gia đình bạn mỗi ngày với những chiếc bánh tươi ngon hoàn toàn không sử
              dụng chất bảo quản, chất nhũ hóa....dù chỉ 0,1%
            </div>
          </div>
        </div>
      </section>

      <div class="clearfix clearfix-70"></div>

      <section class="sc_list_about_page clearfix">
        <h2 class="tit_list_about_page fadeInDown wow"><span>ADELA Wellbeing Bakery</span></h2>
        <div class="clearfix clearfix-30"></div>
        <div class="list_about_page">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about1.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Thông tin về ADELA</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">Welbeing Bakery</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about2.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Ý ntghĩa Logo</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">ADELA</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about3.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Câu hỏi thường gặp</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">Mua hàng / Đặt hàng</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about4.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Đối tác kinh doanh</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">024 7592 666</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about5.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">THông tin tuyển dụng</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">Fulltime / Part time</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about6.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Chuỗi cửa hàng</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">3 cơ sở tại Hà Nội</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about7.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Giải thưởng của ADELA</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">Chứng nhận chất lượng</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-480-12">
              <div class="box_about_list_page clearfix">
                <div class="box_img_about_list_page fadeInDown wow">
                  <a href="" class="/assets/img_about_list_page img_about_h1"><img class="w_100" src="/assets/img/about8.png" alt=""/></a>
                  <a href="" class="view_about_list_page"><span>XEM CHi TIẾT</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="sub_about_list_page fadeInDown wow">
                  <h3 class="name_about_page"><a href="">Điều khoản & bảo mật</a></h3>
                  <div class="clearfix"></div>
                  <div class="des_about_list_page">ADELA</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="clearfix clearfix-30"></div>

    </div>
  </div>

</article>

<div class="clearfix"></div>

<footer th:replace="fragment :: footer"></footer>

</body>
</html>


