<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment:: head">

</head>
<body>

<header th:replace="fragment:: header"></header>
<!-- end header-->

<div class="clearix"></div>

<article id="body_home">

    <section class="sc_page_header clearfix">
        <div class="container">
            <div class="row_pc">

                <div class="clearfix clearfix-100"></div>
                <div class="icon_page fadeInDown wow"><img src="/assets/img/icon_page.png" alt=""/></div>
                <div class="clearfix clearfix-10"></div>
                <h2 class="name_page fadeInRightBig wow"><span>Quên Mật Khẩu</span></h2>
                <div class="clearfix clearfix-15"></div>
                <ul class="back_link fadeInUp wow">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Đăng nhập</a></li>
                </ul>
                <div class="clearfix clearfix-70"></div>

            </div>
        </div>
    </section>

    <div class="clearfix clearfix-70"></div>

    <section class="sc_contact_page clearfix">
        <div class="container">
            <div class="row_pc">

                <form method="post" th:action="@{/auth/confirm-code}" class="form_login_acc">
                    <div class="tit_login_acc">Xác nhận code</div>
                    <div class="clearfix clearfix-30"></div>
                    <div class="group_login_input">
                        <div class="name_input_login">Nhập code*</div>
                        <div class="clearfix"></div>
                        <input name="code" class="input_login" aria-label="">
                    </div>
                    <!--                    <div class="clearfix"></div>-->
                    <!--                    <div class="group_login_input">-->
                    <!--                        <div class="name_input_login">Mật khẩu *</div>-->
                    <!--                        <div class="clearfix"></div>-->
                    <!--                        <input type="password" name="password" class="input_login" aria-label="">-->
                    <!--                    </div>-->
                    <!--                    <div class="clearfix"></div>-->
                    <!--                    <label class="checkbox-inline check_login"><input type="checkbox" value="">Lưu mật khẩu</label>-->
                    <!--                    <a href="" class="butt_qmk">Quên mật khẩu?</a>-->
                    <div class="clearfix clearfix-25"></div>
                    <input type="hidden" name="id-user" th:value="${idUser}" />
                    <button type="submit" class="butt_sign_in">Get Confirmation Code</button>
                    <div class="clearfix clearfix-20">

                    </div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Email or Password</div>
                    </div>

                    <a href="/auth/register" class="or_new_pass">Hoặc TẠO TÀI KHOẢN MỚI</a>
                </form>

                <div class="clearfix clearfix-20"></div>

            </div>
        </div>
    </section>

    <div class="clearfix clearfix-50"></div>


</article>

<div class="clearfix"></div>

<footer th:replace="fragment :: footer"></footer>

</body>
</html>